.contimgchat{
	width: 50px;
	height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    border:1px solid white;
    overflow: hidden;
}

.contimgchat img{
	width: 100%;
}

.containermessenger{
	max-width: 1000px;
	width: 100%;
	height: 100vh;
	background: #0b0e1e;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.sub-containermessenger{
	width: 98%;
	display: flex;
/*	border:1px solid white;*/
	margin: auto;

}


.rightuser{
	width: 300px;
	min-width: 300px;
	/*border: 1px solid skyblue;*/
	height: 300px;
}

.containermensajes{
	width: 100%;
	/*border:1px solid red;*/
	border-left:1px solid skyblue;
	height: 90vh;
	margin: 0 0 0px 5px;
}



.containerlistauser{
	width: 95%;
	margin: auto;
}

.containerlistauser li{
	list-style: none;
}
.containerlistauser li a{
	
	color: white;
	display: flex;
	/*border: 1px solid white;*/
	padding: 5px;
	background: #3bc8e72e;
	border-radius: 10px;
	margin: 5px 0;
	text-decoration: none;

}


.containerimgprofilesms{
	width: 50px;
	height:50px;
	min-width: 50px;
	border: 1px solid white;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	overflow: hidden;
}

.containerimgprofilesms img{
	width: 100%;
}


.containertxtnamesms{
	margin: 0 5px;
	max-height: 55px;
	overflow: hidden;
}


.newsms{
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height:50px;
	min-width: 30px;
	border-radius: 10px;
}

.newsmsuser{
	padding: 3px;
	background: red;
	color: white;
	border-radius: 50%;
	display: block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}


.containersmscenter{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.smsshow{
	color: white;
}