{% extends 'posts/basechat.html' %}
{% load static %}
{% block contentchat %}
<link rel="stylesheet" href=" {% static 'css/listsmsview.css' %} ">
<link rel="stylesheet" href=" {% static 'css/responsedetailchat.css' %} ">

<div class="contentchatall">
    <div class="storbito"></div>
    <div class="contentchat" id="contentchatid">
      <div class="listuser" id="izquierdo">
        <div class="contentsearch">
          
        </div>
        <div class="listausersms" id="">
        {% for thread in request.user.threads.all %}
          {% if thread.messages.all|length > 0 %}
          <div class="usersms">
            {% for user in thread.users.all %}
            {% if user != request.user %}
            <div class="contentusersms">
              <a class="contentusersms" style="color: white; text-decoration: none;" href="{% url 'messenger:detail' thread.pk %}">
                <div class="contentimgprofileuser">
                  {% if user.profile.avatar %}
                   <img src="{{user.profile.avatar.url}}" alt="">
                  {% else %}
                    <img src=" {% static 'img/userdesconocido.png' %} " alt="">
                  {% endif %}
              </div>
              <div>
                <p style="line-height: 30px">
                  {{user.get_full_name}}
                  {% if request.user == thread.messages.last.user %}
                  
                  {% else %}
                   <span  style="font-size: 20px; border-radius: 100%;"><small></small>
                    <small class="icon-mail4" style="
                    color: red;
                    background: #f9f9f9;
                    padding: 2px;
                    margin-top: 3px;
                    border-radius: 100%;
                    "
                    ></small></span>
                  {% endif %}
                
                 <p style="display: flex;"><small style="display: block;max-width:200px;overflow: hidden;height: 15px;">
                  {% if request.user == thread.messages.last.user %}
                  tu: {{thread.messages.last.content}}
                  {% else %}
                  {{thread.messages.last.content}}
                  {% endif %}
                  </small><strong>...</strong></p>
                </p>
              </div>
              </a>
            </div>
            {% endif %}
          {% endfor %} 
          </div>
          {% endif %}
        {% endfor %} 
        </div>
      </div>
      <div class="messagedetail" id="">
        <div class="head-nameuser" style="display: flex;justify-content: center;align-items: center;background: white">
          <div class="headneame" style="display: flex;justify-content: space-between;">
            {% for user in thread.users.all %}
            {% if user != request.user %}
            <div class="contentnamedetailsms">
              <div class="contentimgprofileuserdetail">
                 <a href="{% url 'profiles:detail' user %}">
                   {% if user.profile.avatar %}
                  <img src="{{user.profile.avatar.url}}" alt="">
                  {% else %}
                  <img src="{% static 'img/userdesconocido.png' %}" alt="">
                 {% endif %}
                 </a>
              </div>
              <div>
                <a href="{% url 'profiles:detail' user %}" style="color: black;text-decoration: none;"><p style="line-height: 40px;margin: 0 5px;">{{user}}</p></a>
                
              </div>
            </div>
            <div>
              <p style="line-height: 40px;margin: 0 5px;">Ultimo sms enviado hace {{thread.messages.last.created|timesince}}  </p>

            </div>
            {% endif %}  
            {% endfor %}

            
          </div>
        </div>
        <div class="contentdetailsms" style="background: #E6EAEA;">
          <div class="content-sms-detail" id="messagedetail" >         
              {% include "messenger/chat.html" %}   
          </div>
          <div class="form-send">
            <input id="content" class="inputchat" type="text" placeholder="escribe un mensaje" autocomplete="off">
            <div style="display: flex;">
              <button onclick="location.reload()"  class="icon-spinner11">refresh</button>

              <button type="submit" disabled=""  class="icon-compass" id="send"></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src=" {% static 'js/eventoswipe.js' %} "></script>

  <script>


  

              var send = document.getElementById("send");
              var content = document.getElementById("content");

              

              content.addEventListener("keypress", function(evento){
                if(evento.keyCode==13){
                  var content = encodeURIComponent(document.getElementById("content").value); // &
                  if (content.length > 0){
                    document.getElementById("content").value = '';
                    send.disabled = true;
                    const url = "{% url 'messenger:add' thread.pk %}" + "?content="+content;
                    fetch(url, {'credentials':'include'}).then(response => response.json()).then(function(data){
                      // Si el mensaje se ha creado correctamente...
                      if (data.created) {
                        // Si es el primer mensaje del hilo actualizaremos para que aparezca a la izquierda
                        if (data.first) {
                          window.location.href = "{% url 'messenger:detail' thread.pk %}";
                        }
                        // Si no hay redirección creamos una nueva capa dinámicamente con el mensaje
                        var message = document.createElement('div');
                        message.classList.add('emisorsms');
                        message.innerHTML = '<p class="textresponsesmsemisor">'+decodeURIComponent(content)+'</p>';
                        // message.innerHTML = decodeURIComponent(content);

                        
                        document.getElementById("messagedetail").appendChild(message);   // Lo añadimos a la div thread
                        ScrollBottomInThread();  // Movemos el scrol abajo del todo
                      } else {
                        // Si algo ha ido mal podemos debugear en la consola del inspector
                        console.log("Algo ha fallado y el mensaje no se ha podido añadir.")
                      }
                    })
                  }
                }
              })


              send.addEventListener("click", function(){
                
                  var content = encodeURIComponent(document.getElementById("content").value); // &
                  if (content.length > 0){
                    document.getElementById("content").value = '';
                    send.disabled = true;
                    const url = "{% url 'messenger:add' thread.pk %}" + "?content="+content;
                    fetch(url, {'credentials':'include'}).then(response => response.json()).then(function(data){
                      // Si el mensaje se ha creado correctamente...
                      if (data.created) {
                        // Si es el primer mensaje del hilo actualizaremos para que aparezca a la izquierda
                        if (data.first) {
                          window.location.href = "{% url 'messenger:detail' thread.pk %}";
                        }
                        // Si no hay redirección creamos una nueva capa dinámicamente con el mensaje
                        var message = document.createElement('div');
                        message.classList.add('emisorsms');
                        message.innerHTML = '<p class="textresponsesmsemisor">'+decodeURIComponent(content)+'</p>';
                        // message.innerHTML = decodeURIComponent(content);

                        
                        document.getElementById("messagedetail").appendChild(message);   // Lo añadimos a la div thread
                        ScrollBottomInThread();  // Movemos el scrol abajo del todo
                      } else {
                        // Si algo ha ido mal podemos debugear en la consola del inspector
                        console.log("Algo ha fallado y el mensaje no se ha podido añadir.")
                      }
                    })
                  }
                
              })







              // Evento que activa o desactiva el botón dependiendo de si hay o no mensaje
              var content = document.getElementById("content");
              content.addEventListener("keyup", function(){
                if (!this.checkValidity() || !this.value){
                  send.disabled = true;
                } else {
                  send.disabled = false;
                }
              })
              
              // Forzar el Scroll abajo del todo
              function ScrollBottomInThread(){
                var thread = document.getElementById("messagedetail");
                thread.scrollTop = thread.scrollHeight;
              }
              ScrollBottomInThread();

              
              // <textarea class="w100" ng-model="comment" name="comment" onkeypress="pulsar(event)">  

              // <input type="button" ng-click="saveChat(comment)" value="Send" id="boton" />

              function pulsar(e) {
                  if (e.keyCode === 13) {
                      e.preventDefault();
                      var boton = document.getElementById("send");
                      angular.element(boton).triggerHandler('click');
                  }
              }

        



          // function ajax(){
          // var req = new XMLHttpRequest();

          // req.onreadystatechange = function(){
          //     if (req.readyState == 4 && req.status == 200) {
          //       document.getElementById('messagedetail').innerHTML = req.responseText;
          //     }
          //   }
          //   var urlxd = "{% url 'messenger:add' thread.pk %}";
          //   req.open('GET', 'chat.html', true);
          //   req.send();
          // }

          // //linea que hace que se refreseque la pagina cada segundo
          // setInterval(function(){ajax();}, 10000);




  </script>

{% endblock %}


        </div>
            <div class="col-md-8">
            <!-- Recorremos los miembros del hilo menos el propio request.user -->
           
            <!-- Mostramos los mensajes en una capa que tiene un overflow vertical de 300 píxeles -->
            <div class="thread" id="thread">
              {% for message in object.messages.all %}
                <!-- Dependiendo del usuario asignamos una clase con un color de fondo u otro en el mensaje -->
                <div {% if request.user == message.user %}class="mine mb-3"{% else %}class="other mb-3"{% endif %}>
                  <small><i>Hace {{thread.messages.last.created|timesince}}</i></small><br>
                  {{message.content}}
                </div>
              {% endfor %}
            </div>
          </div>
            <!-- Aquí crearemos el formulario -->
            <textarea id="content" class="form-control mb-2" rows="2" placeholder="Escribe tu mensaje aquí"></textarea>
            <button id="send" class="btn btn-primary btn-sm btn-block" disabled>Enviar mensaje</button>
      </div>
      </div>
    </div>

  </div>
  

  <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>

  <!-- <script src="{% static 'js/sms.js' %}"></script> -->
  
  <script>
 


    // var send = document.getElementById('send');
    // send.addEventListener("click", function(){
    //   var content = encodeURIComponent(document.getElementById('content').value);
    //   if (content.length > 0){
    //     document.getElementById('content').value = '';
    //     send.disabled = true;
    //     const url = "{% url 'messenger:add' thread.pk %}" + "?content="+content;
    //     fetch(url, {'credentials':'include'}).then(response => response.json()).then(function(data){
    //     // Si el mensaje se ha creado correctamente...
    //     if (data.created) {
    //     // Si es el primer mensaje del hilo actualizaremos para que aparezca a la izquierda
    //       if (data.first) {
    //           window.location.href = "{% url 'messenger:detail' thread.pk %}";
    //           }
    //       // Si no hay redirección creamos una nueva capa dinámicamente con el mensaje
    //         var message = document.createElement('li');
    //         message.classList.add('replies');
    //         message.innerHTML = ''+decodeURIComponent(content);
    //         document.getElementById("thread").appendChild(message);   // Lo añadimos a la div thread
    //         ScrollBottomInThread();  // Movemos el scrol abajo del todo
    //         } else {
    //           // Si algo ha ido mal podemos debugear en la consola del inspector
    //            console.log("Algo ha fallado y el mensaje no se ha podido añadir.")
    //         }
    //       })
    //     }
    //   })

    // // Forzar el Scroll abajo del todo
    // function ScrollBottomInThread(){
    // var thread = document.getElementById("messages");
    //     thread.scrollTop = thread.scrollHeight;
    // }
    // ScrollBottomInThread();
    var send = document.getElementById("send");
              send.addEventListener("click", function(){
                var content = encodeURIComponent(document.getElementById("content").value); // &
                if (content.length > 0){
                  document.getElementById("content").value = '';
                  send.disabled = true;
                  const url = "{% url 'messenger:add' thread.pk %}" + "?content="+content;
                  fetch(url, {'credentials':'include'}).then(response => response.json()).then(function(data){
                    // Si el mensaje se ha creado correctamente...
                    if (data.created) {
                      // Si es el primer mensaje del hilo actualizaremos para que aparezca a la izquierda
                      if (data.first) {
                        window.location.href = "{% url 'messenger:detail' thread.pk %}";
                      }
                      // Si no hay redirección creamos una nueva capa dinámicamente con el mensaje
                      var message = document.createElement('div');
                      message.classList.add('mine', 'mb-3');
                      message.innerHTML = ''+decodeURIComponent(content);
                      document.getElementById("thread").appendChild(message);   // Lo añadimos a la div thread
                      ScrollBottomInThread();  // Movemos el scrol abajo del todo
                    } else {
                      // Si algo ha ido mal podemos debugear en la consola del inspector
                      console.log("Algo ha fallado y el mensaje no se ha podido añadir.")
                    }
                  })
                }
              })

              // Evento que activa o desactiva el botón dependiendo de si hay o no mensaje
              var content = document.getElementById("content");
              content.addEventListener("keyup", function(){
                if (!this.checkValidity() || !this.value){
                  send.disabled = true;
                } else {
                  send.disabled = false;
                }
              })
              
              // Forzar el Scroll abajo del todo
              function ScrollBottomInThread(){
                var thread = document.getElementById("thread");
                thread.scrollTop = thread.scrollHeight;
              }
              ScrollBottomInThread();


             
  </script>





<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <div class="row">
          <!-- Hilos de conversación -->
          <div class="col-md-4">
            <!-- Con una búsqueda inversa user.threads también podemos conseguir los hilos de un usuario -->
            {% for thread in request.user.threads.all %}
              <!-- Sólo mostraremos un Thread si tiene como mínimo 1 mensaje -->
              {% if thread.messages.all|length > 0 %}
                <div class="mb-3">
                  <!-- Recorremos los miembros del hilo menos el propio request.user -->
                  {% for user in thread.users.all %}
                    {% if user != request.user %}     
                      <!-- Mostramos el avatar del miembro -->                
                      {% if user.profile.avatar %}
                        <img src="{{user.profile.avatar.url}}" class="avatar">
                      {% else %}
                        <img src="{% static 'registration/img/no-avatar.jpg' %}" class="avatar">
                      {% endif %}
                      <!-- Mostramos la información del miembro --> 
                      <div>
                        <a href="{% url 'messenger:detail' thread.pk %}">{{user}}</a><br>
                        <small><i>Hace {{thread.messages.last.created|timesince}}</i></small>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- Hilo de conversación -->
          <div class="col-md-8">
            <!-- Recorremos los miembros del hilo menos el propio request.user -->
            {% for user in thread.users.all %}
              {% if user != request.user %}       
                <h4 class="mb-4">Mensajes con <a href="{% url 'profiles:detail' user %} ">{{user}}</a></h4>
              {% endif %}
            {% endfor %}
            <!-- Mostramos los mensajes en una capa que tiene un overflow vertical de 300 píxeles -->
            <div class="thread" id="thread">
              {% for message in object.messages.all %}
                <!-- Dependiendo del usuario asignamos una clase con un color de fondo u otro en el mensaje -->
                <div {% if request.user == message.user %}class="mine mb-3"{% else %}class="other mb-3"{% endif %}>
                  <small><i>Hace {{thread.messages.last.created|timesince}}</i></small><br>
                  {{message.content}}
                </div>
              {% endfor %}
            </div>
          </div>
            <!-- Aquí crearemos el formulario -->
            <textarea id="content" class="form-control mb-2" rows="2" placeholder="Escribe tu mensaje aquí"></textarea>
            <button id="send" class="btn btn-primary btn-sm btn-block" disabled>Enviar mensaje</button>
            <script>
              var send = document.getElementById("send");
              send.addEventListener("click", function(){
                var content = encodeURIComponent(document.getElementById("content").value); // &
                if (content.length > 0){
                  document.getElementById("content").value = '';
                  send.disabled = true;
                  const url = "{% url 'messenger:add' thread.pk %}" + "?content="+content;
                  fetch(url, {'credentials':'include'}).then(response => response.json()).then(function(data){
                    // Si el mensaje se ha creado correctamente...
                    if (data.created) {
                      // Si es el primer mensaje del hilo actualizaremos para que aparezca a la izquierda
                      if (data.first) {
                        window.location.href = "{% url 'messenger:detail' thread.pk %}";
                      }
                      // Si no hay redirección creamos una nueva capa dinámicamente con el mensaje
                      var message = document.createElement('div');
                      message.classList.add('mine', 'mb-3');

                      message.innerHTML = '<small><i>Hace unos segundos</i></small><br>'+decodeURIComponent(content);

                      document.getElementById("thread").appendChild(message);   // Lo añadimos a la div thread
                      ScrollBottomInThread();  // Movemos el scrol abajo del todo
                    } else {
                      // Si algo ha ido mal podemos debugear en la consola del inspector
                      console.log("Algo ha fallado y el mensaje no se ha podido añadir.")
                    }
                  })
                }
              })

              // Evento que activa o desactiva el botón dependiendo de si hay o no mensaje
              var content = document.getElementById("content");
              content.addEventListener("keyup", function(){
                if (!this.checkValidity() || !this.value){
                  send.disabled = true;
                } else {
                  send.disabled = false;
                }
              })
              
              // Forzar el Scroll abajo del todo
              function ScrollBottomInThread(){
                var thread = document.getElementById("thread");
                thread.scrollTop = thread.scrollHeight;
              }
              ScrollBottomInThread();
            </script>
          </div>
        </div>
    </div>
  </div>
</main>