{% load static %}					
						<form method="POST" action="." class="comment-form form-reply-commentsall">
							{% csrf_token %}
							<input type="hidden" name="user" value="{{ user.pk}}" />
          					<input type="hidden" name="profile" value="{{ profile.pk }}" />
					            <figure class="contimg">
					            	{% if request.user.profile.avatar %}
					                <img src="{{request.user.profile.avatar.url }}" alt="" width="40">
					                {% else %}
									<img src=" {% static 'img/userdesconocido.png' %} " alt="" width="40">
					                {% endif %}
					            </figure>
					            <input class="inputsendreply" type="text" name="content" placeholder="escribe un comentario" autocomplete="off">
					            <button class="icon-bubble inputsubmitreply" type="submit"></button>
					        </form>	
					      <div id="comentarios">
					      	<ul>
					      	{% for comment in comments %}		
					          <li class="list-comment">
					            <div class="contimgname">
					              <figure class="contimg">
					              	{% if comment.profile.avatar %}
					                <img src="{{ comment.profile.avatar.url }}" alt="" width="40">
					                {% else %}
					                <img src=" {% static 'img/userdesconocido.png' %} " alt="" width="40">
					                {% endif %}
					              </figure>
					              <div class="background-comment" id="app-comments">
					                <div class="containertxtcomment">
					                  <a href="{% url 'profiles:detail' comment.user %}" style="text-decoration: none"><h4 class="txtnameusuario">{{comment.user.get_full_name }}</h4></a>
					                  <p class="txtcomentarios">{{comment.content}}</p>
					                </div>
					                <small class="txtresponder">
					                  <span class="btnmostrar" v-on:click="btnshow='ocultar'" v-if="btnshow=='mostrar'">responder</span>
					                  <span class="btnocultar" v-on:click="btnshow='mostrar'" v-if="btnshow=='ocultar'" >ocultar respuestas</span>
					                </small><small class="txthora">{{comment.created|timesince}}</small>			             
					                <div class="container-reply-comments" style="display: none;" >
					                {% for reply in comment.replies.all %}		
					                  <div class="contimgname">
					                    <figure class="contimg">
					                     {% if reply.profile.avatar %}	
					                      <img src="{{ reply.profile.avatar.url }}" alt="" width="40">
					                      {% else %}
					                      <img src=" {% static 'img/userdesconocido.png' %} " alt="" width="40">
					                      {% endif %}
					                    </figure>
					                    <div class="background-comment">
					                      <div class="containertxtcomment">
					                        <a style="text-decoration: none;" href="{% url 'profiles:detail' reply.user %}">
					                        	<h4 class="txtnameusuario">{{reply.user.get_full_name }}</h4>
					                        </a>
					                        <p class="txtcomentarios">{{reply.content}}</p>
					                      </div>
					                      <small class="txthora">{{reply.created|timesince}}</small>
					                    </div>   
					                  </div>
					                 {% endfor %} 
					                      <form class="reply-form form-reply-commentsall" method="POST" action=".">
					                      	{% csrf_token %}
					                      	 <input type="hidden" name="comment_id" value="{{comment.id}}">
					                          <input type="hidden" name="user" value="{{ user.pk}}" />
					                          <input type="hidden" name="profile" value="{{ profile.pk }}" />
					                        <figure class="contimg">
												{% if request.user.profile.avatar %}
					                          <img src="{{request.user.profile.avatar.url }}" alt="" width="40">
					                          {% else %}
					                         <img src=" {% static 'img/userdesconocido.png' %} " alt="" width="40">
					                          {% endif %}
					                        
					                        </figure>
					                        <input class="inputsendreply" type="text" placeholder="responder" name="content" autocomplete="off">
					                        <button class="icon-bubble inputsubmitreply" type="submit"></button>
					                      </form>
					                </div>
					              </div>
					            </div>
					          </li>
					          {% endfor %}
					      </ul>
					      </div>
				