{% extends  "posts/base.html" %}
{% load static %}
{% block feed %}

<style>
	

	.contentckeditor img{
		width: 100%;
		height: auto;
	}

	.contentckeditor * {
		color: white;
	}
</style>
<link rel="stylesheet" href=" {% static 'css/home.css' %} ">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href=" {% static 'css/modalfeed.css' %} ">
<div class="bodypost">
		
		<div class="primero">
			
		</div>
		<div class="segundo">

			<!-- <form class="createpost-container" method="">
				<p class="titlecreatepost"> + crear publicación</p>
				<textarea class="txtcreatepost" name="" id="" cols="30" rows="10" placeholder="que tienes en mente?"></textarea>
				<div class="containercreateultimo">
					

					<div class="inputfilecss">
						<input class="inputfile" type="file" onchange="mostrarimg();">
						<span class="icon-image"> sube una imagen </span>
					</div>
				
					<input class="btnsubmit" type="submit" value="publicar">

				</div>
				<div class="max-width">
					<div class="containerimgchange">
						<img src="" alt=""  id="imgchange" >
					</div>
				</div>
				

			</form> -->
			<div>
				<a href="{% url 'posts:create' %}" style="
				color: black;
				background-color:white;
				display: block;
				width: 200px;
				text-align: center;
				margin: 0;
				border-radius: 5px;
				text-decoration: none;
				">
					<p> +  crear publicacion <span class="icon-image"></span> </p>
				</a>
			</div>
			<hr>
			{% if not request.user.profile.avatar %}
			<span><a style="color: white" href="{% url 'profile' %}">click aqui para completar perfil</a></span>
			{% else %}
		
			{% endif %}

			<div class="containerlistpost">
				

				{% for post in posts %}

					<div class="post">
						<div class="containerinfotxtpost">
							<div class="containerimgnamepost">
								<a href="{% url 'profiles:detail' post.user %}" class="containerimgnamepost" style="color:#3bc8e7;text-decoration: none;">
									<div class="imgprofilehead">
										{% if post.profile.avatar %}
										<img src="{{ post.profile.avatar.url }}" alt="">
										{% else %}
										<img src=" {% static 'img/userdesconocido.png' %} " alt="">
										{% endif %}
									</div>
									<h3 style="line-height: 50px;">{{ post.user.get_full_name}}</h3>
								</a>
							</div>
							<div class="contentckeditor">
							{% if post.photo %}
							<p class="txtpost">{{ post.title|safe }}</p>
							{% else %}
							<p style="font-size: 25px;color: white" class="txtpost">{{ post.title|safe }}</p>
							{% endif %}
							</div>
							
						</div>
						<figure class="containerimgpost" style="position: relative;">
							{% if post.photo %}
							<img class="imgpost imgclickmodal" src="{{ post.photo.url }}" alt="">
							{% else %}
							<img style="display: none" src=" {% static 'img/linea.png' %} " alt="">
							{% endif %}
							{% if post.photo %}
							<p style="
							    position: absolute;
							    background: rgba(0,0,0,0.6);
							    bottom: 0;
							    left: 0;
							    margin: 5px;"><small style="color: white;margin: 0 10px;">
							
								hace {{ post.created|timesince }}
							
							</small></p>
							{% endif %}

						</figure>
						{% if not post.photo %}
						<p style="
							    margin: 5px;"><small style="color: white;margin: 0 10px;">
							
								hace {{ post.created|timesince }}
							
							</small></p>
						{% endif %}

						<div style="padding: 2px;">
							
							<p style="margin: 5px 0;"><a href="{% url "posts:detail" post.pk %}" style="color: white;margin: 5px 5px;
							display: block;background: black;width: 80px;text-align: center;border-radius: 5px;">comentar</a></p>
							
							
							  {% if request.post == comment %}    
			                  	<p style="color: white">{{comment.last.content}}</p>
			                  {% endif %}


						</div>
					</div>

				{% endfor %}


				
				{% if is_paginated %}
					  <nav aria-label="Page navigation">
					    <ul class="pagination justify-content-center">
					      {% if page_obj.has_previous %}
					        <li class="page-item ">
					          <a class="page-link" style="box-shadow: none; href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
					        </li>
					      {% else %}
					        <li class="page-item disabled">
					          <a class="page-link" href="#" tabindex="-1">&laquo;</a>
					        </li>
					      {% endif %}
					      {% for i in paginator.page_range %}
					        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
					          <a class="page-link" style="box-shadow: none;" href="?page={{ i }}">{{ i }}</a>
					        </li>
					      {% endfor %}
					      {% if page_obj.has_next %}
					        <li class="page-item ">
					          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
					        </li>
					      {% else %}
					        <li class="page-item disabled">
					          <a class="page-link" href="#" style="box-shadow: none; tabindex="-1">&raquo;</a>
					        </li>
					      {% endif %}
					    </ul>
					  </nav>
					{% endif %}
			</div>
		</div>
		<div class="tercero" id="ladoderechoadds">
			<div class="aboutdeveloper">
				<h5 style="color: white;text-align: center;padding: 5px;cursor: pointer;" id="btndevs">
				sobre el desarrollador
			</h5>
				<div class="aboutdev" style="width: 90%;margin: auto;" id="aboutdev">
					<p style="color: white">hola, soy hebert villafuerte desarrollador de bgcrazy ,
					me gusta el mundo de la web tanto el backend como el frontend ♥ , si gusta seguirme 
					en cualquiera de mis redes sociales bienvenido ☺ ,
					pronto bgcrazy tendra el boton follow . </p>
					<ul style="display: flex;width: 90%;justify-content: space-between;margin: auto;">
						<li style="list-style: none">
							<a style="color: white;padding: 10px;" href="https://web.facebook.com/hebertVillafuerteC" target="_blank" class="icon-facebook2"></a></li>
						<li style="list-style: none">
							<a style="color: white;padding: 10px;" href="https://www.instagram.com/hebertdev/" target="_blank" class="icon-instagram"></a></li>
						<li style="list-style: none">
							<a style="color: white;padding: 10px;" href="https://www.youtube.com/channel/UCvVxuO28XPe-fC6khHyAA_Q" target="_blank" class="icon-youtube"></a></li>
						<li style="list-style: none">
							<a style="color: white;padding: 10px;" href="https://github.com/HebertVillafuerte" target="_blank" class="icon-github"></a></li>
					</ul>
				</div>
				<h5 style="color: white;text-align: center;padding: 5px;cursor: pointer;" id="btnbg">sobre Bgcrazy</h5>
				<div class="aboutdev" style="width: 90%;margin: auto;" id="contentbg">
					<p style="color: white">
						bgcrazy nace , como uno de mis proyectos personales ,
						basicamente es una web social  en donde los usuarios
						tienen un perfil y pueden publicar texto o imagenes a su manera libre sin restricciones,
						enviarse mensajes y más. 
						por ahora esta en su version más reciente e intento 
						poder continuar con este proyecto .
						pienso extender usuarios a travez de facebook ♥ 
					</p>
				</div>
				<hr>
			</div>
			<div class="publicidad">
				<small style="margin: 5px;color: white;">publicidad</small>
			</div>
		</div>
	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src=" {% static 'js/modalfeed.js' %} "></script>
	<script>
		let btndev = document.getElementById('btndevs');
		let btnbg = document.getElementById('btnbg');

		let contentdev = document.getElementById('aboutdev');
		let contentbg = document.getElementById('contentbg')

		btndev.addEventListener('click' , function(){
			contentdev.classList.toggle('showcontent');

		})

		btnbg.addEventListener('click' , function(){
			contentbg.classList.toggle('showcontent');

		})



		var $body = document.body;
        var hammerleft = new Hammer($body);

        var ladoderechoadds = document.getElementById('ladoderechoadds');
        var hammerdetail = new Hammer(ladoderechoadds);

        hammerleft.on('swipeleft', function(){
          ladoderechoadds.classList.add('entrarderechoadds')
          // alert("hola prros")
        });

        

        hammerleft.on('swiperight', function(){
          ladoderechoadds.classList.remove('entrarderechoadds')
          // alert("hola prros")
        });
          

        //   hammerdetail.on('swiperight', function(){
        //   izquierdoprofile.classList.add('entrarizquierdo')
        //   // alert("hola prros")
        // });

	</script>




{% endblock %}